<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSearchServlet</servlet-name>
        <servlet-class>BookSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuant</servlet-name>
        <servlet-class>UpdateQuant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBook</servlet-name>
        <servlet-class>RemoveBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>RemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitBook</servlet-name>
        <servlet-class>submitBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSubmit</servlet-name>
        <servlet-class>TestSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSearchServlet</servlet-name>
        <url-pattern>/BookSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuant</servlet-name>
        <url-pattern>/UpdateQuant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBook</servlet-name>
        <url-pattern>/RemoveBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/RemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitBook</servlet-name>
        <url-pattern>/submitBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSubmit</servlet-name>
        <url-pattern>/TestSubmit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
